.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
  }
  
  .albumSection {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
  }
  
  .albumSection:hover {
    /* background-color: #007bff; */
    transform: translateY(-5px);
    border-color: #007bff;
  }
  
  .imgDiv img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .textDiv p {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  
  
  